
/* global */
*{
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: sans-serif;

}
/*-------------- color ---------------*/

.main-color{
    color: #e03e25;
}

/*-------------- on navigaiton bar ---------------*/
.main-container{
    background-color: #f8f7f7;
}
.on-nav{
    height: 35px;
}
.on-nav span{
    font-size: 15px;
    color: rgb(177, 177, 177);
}

.on-nav span:hover{
    color: #333;
}


/*-------------- header-style ---------------*/
.social-media-link ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.social-media-link ul li{
    border:0px solid black;
   
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-link ul li a{
    color: rgb(177, 177, 177);
    padding: 20px;
    position: relative;
}

.social-media-link ul li a:hover{
    animation: icon 0.3s ease 1 ;
    color: white;
}
@keyframes icon{
    0%{top:20px}
    100%{top:0px} 
} 
/*-------------- nav ---------------*/

/*-------------- Card section ---------------*/
.title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e03e25;
    border-bottom: 2px solid rgb(161, 161, 161);

}
.title b{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e03e25;
    border-bottom: 5px solid black;
    padding-bottom: 1.3rem;
}
.card-icon{
    margin: 0px 83px 30px 83px;
    padding: 30px;
    background-color: #f0efef;
    border-radius: 50%;
}



/*--------------Latest Awesome & Creative Works section ---------------*/
.project-name-card{
    width: 260px;
    
   box-shadow: 0px 0px 5px rgb(185, 185, 185);

}
.project-name-card-btn{
  width: 350px;
  background-color: white;
}
.project-name-card-btn:hover{
    color: white;
    width: 350px;
    background-color: #e03e25;
}
.project-name-card img{
    width: 100%;
}

#icon-leaf{
    font-size: 1.3rem;
    color: white;
    background-color:#e03e25;
    padding: 0.7rem;
    margin: 1.5rem;
    border-radius: 3px;
}
.icon-leaf-text{
    margin: 1.5rem 0rem 0rem 0rem;
}
.icon-leaf-text h4{
    font-size: 1.2rem;
    font-weight: bold;
}
.icon-leaf-text p{
    font-size: 12px;
    color: rgb(169, 169, 169);
}
.empty-space{
    height: 40px;
}

/*--------------All What You Need To Know About Us---------------*/

.whyori h6:hover{
    cursor: pointer;
}
.whyori h6, p{
    padding: 9px 20px;
}
.whyori h6 span i{
    font-weight: 600;
}
.whyori p{
    color: #a5a5a5;
}


.percent-bar{
    width: 100%;
    height: 10px;
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
}
.in-percent-bar{
    width: 70%;
    height: 10px;
    background-color:#e03e25;
    border-radius: 5px;
}
.in-second-percent-bar{
    width: 50%;
    height: 10px;
    background-color:#e03e25;
    border-radius: 5px;

}
.in-third-percent-bar{
    width: 85%;
    height: 10px;
    background-color:#e03e25;
    border-radius: 5px;

}
.in-forth-percent-bar{
    width: 100%;
    height: 10px;
    background-color:#e03e25;
    border-radius: 5px;

}

/*--------------Ori Great & Awesome Features---------------*/
.black-background{
    background-color: black;
}
.title-main-color{
    border-color: #e03e25;
}
.lightning-icon{
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 1px solid #919191;
}
.icon-size{
    font-size: 2rem;
    padding: 18px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 50%;
}
.Ori-Great{
    padding: 50px 0 ;
}

/*--------------Latest News---------------*/

.firstCard{
    width: 350px;
    height: 320px;
    word-wrap: break-word;
}
.p-text-color{
    color: #a5a5a5;
}
.readmore{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.readmore:hover{
    color: #e03e25;
}
/*--------------About Ori---------------*/
.bottom-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}
.bottom-social li{
    list-style-type: none;

}   
.bottom-social i{
    width: 33px;
    height: 33px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #333;
    border-radius: 3px;
}   
.location{
    display: flex;
    flex-direction: column;
    
}
.location ul li{
    height: 90px;
    
    list-style: none;
}
.location ul li i{
    background-color: #333;
    border-radius: 3px;
}


/* -------------------last--------------- */

.last-list ul{
    display: flex;
    justify-content: space-evenly;
}
.last-list ul li{
    list-style-type: none;
}


