.social-media-link ul li:nth-child(1):hover{
    background-color: #4064ac;
}
.social-media-link ul li:nth-child(2):hover{
    background-color: #1c9cea;
}
.social-media-link ul li:nth-child(3):hover{
    background-color: #31a650;
}
.social-media-link ul li:nth-child(4):hover{
    background-color: #e5000f;
}
.social-media-link ul li:nth-child(5):hover{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.social-media-link ul li:nth-child(6):hover{
    background-color: red;
}
.social-media-link ul li:nth-child(7):hover{
    background-color: #374767 ;
}
.social-media-link ul li:nth-child(8):hover{
    background-color: #0A66C2;
}
.social-media-link ul li:nth-child(9):hover{
    background-color: #cecece;
}
.social-media-link ul li:hover{
    animation: icon 0.1s ease-in-out 1 ;
}
@keyframes icon{
    0%{top:20px}
    100%{top:0px} 
}

/* end of social media icon  */

.big-icon{
    position: relative;
    background-color:#cecece ;
}
.big-icon:hover{
    background-color: #e5000f;
    color: white;
    animation: icon 0.5s ease-in-out 1 ;   
}

/* set the position of the element to relative to its position to make it move like keyframes
cuz we use top: ; that only available when position is added to the element.
 */

@keyframes bigicon{
    0%{top:20px}
    100%{top:-20px} 
}